html, body {
	background: #ccc;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.box_main {
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: space-between;
    flex-direction: column;  
    margin: 5px;
}

.box {
    width: 100%;
    height: 20%;
    margin: 5px;  
    margin-bottom: 10px;
    display: flex; 
}

.box_center{
    width: 100%;
    height: 50%;
    margin: 5px;
    display: flex;
}

.box_bottom {
    width: 100%;
    height: 30%;
    margin: 5px;   
    display: flex; 
}

.box-side {
    margin-left: 30px;
    display: -webkit-flex;
    display: flex;
    flex: 0 0 220px;
    flex-direction: column;
}

.orange{
    background-color: orange;
    width: 60%;
    height: 100%;
    margin: 5px; 
}

.brown{
    background-color: brown;
    width: 33%;
    height: 100%;
    margin: 5px;
}   

.blue{
    background-color: blue;
    width: 33%;
    height: 100%;
    margin: 5px;    
}

.purple{
    background-color: purple;
    width: 33%;
    height: 100%;
    margin: 5px;
}

.red{
    background-color: red;
    width: 40%;
    height: 100%; 
    margin: 5px;
}

.green{
    background-color: green;
    width: 100%;
    height: 100%;  
    margin: 5px;
}

.empty{
    display: none;    
}

@media screen and (max-width: 992px) {
    .orange{
        background-color: purple;
        width: 60%;
        height: 100%;
        margin: 5px; 
    }
    
    .brown{
        background-color: green;
        width: 50%;
        height: 100%;
        margin: 5px;
    }   
    
    .blue{
        background-color: blue;
        width: 50%;
        height: 100%;
        margin: 5px;    
    }
    
    .purple{
        display: none;
    }
    
    .red{
        background-color: orange;
        width: 40%;
        height: 100%; 
        margin: 5px;
    }
    
    .green{
        background-color: red;
        width: 100%;
        height: 100%;  
        margin: 5px;
    }

    .box_center{
        width: 100%;
        height: 45%;
        margin: 5px;
        display: flex;
    }
    
    .box_bottom {
        width: 100%;
        height: 35%;
        margin: 5px;   
        display: flex; 
    }
  }

  @media screen and (max-width: 600px) {
    .orange{
        display: none; 
    }
    
    .brown{
        display: none;
    }   
    
    .blue{
        display: none;    
    }
    
    .purple{
        display: none;
    }
    
    .red{
        background-color: green;
        width: 40%;
        height: 100%; 
        margin: 5px;
    }
    
    .green{
        background-color: purple;
        width: 40%;
        height: 20%;  
        margin: 5px;
    }

    .empty{
        background-color: red;
        width: 40%;
        height: 60%;  
        margin: 5px;
        display: flex;
    }

    .box_center{
        width: 100%;
        height: 100%;
        margin-top: 5px;
        margin-bottom: 20%;
        display: flex;
        flex-direction: column;
    }
    
    .box_bottom {
        display: none; 
    }
    .box {
        width: 100%;
        height: 20%;
        margin: 5px;  
        margin-bottom: 10px;
        display: flex; 
    }
  }