html, body {
	background: #ccc;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    justify-content: space-around;
/*	display: -webkit-flex;  
	display: flex; 
	flex-direction: column; */
}
/*
body {
	margin: 0;
	padding: 15px;
	display: flex;  
	flex-direction: column;
	flex: auto; 
}
*/



.box_middle {
    width: 100%;
    height: 75%;
    margin: 0 auto;
    display: flex; 
    justify-content: space-around;
    flex-direction: column;
}

.box_main {
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: space-between;
    flex-direction: column;  
}

.box {
    width: 100%;
    height: 20%;
    margin: 0 auto;
    display: flex; 
 /*   justify-content: space-around;    */
}

.box_center{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    display: flex;
}

.box_bottom {
    width: 100%;
    height: 20%;
    margin: 0 auto;
    display: flex; 
}

.box-base {
    background: #222;
    width: 30%;
    font-size: 5rem;
    color: #eee;
    flex: auto;
    display: -webkit-flex;
    align-items: center;
}

.box-side {
    margin-left: 30px;
    display: -webkit-flex;
    display: flex;
    flex: 0 0 220px;
    flex-direction: column;
}

.box-itm {
    background: #222;
    min-height: 200px;
    font-size: 5rem;
    color: #eee;
    margin-bottom: 30px;
    flex: auto;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-itm:last-child {
	margin-bottom: 0;
}

.flex_row_1{
    display: flex;
    overflow: auto;
    text-align: center;
    justify-content: space-around;
}
.flex_row_1 div:nth-child(1) {
    width: 30%;
    height: 25%;
    background: yellow;
  }
  .flex_row_1 div:nth-child(2) {
    width: 60%;
    height: 25%;
    background: purple;
  }

.flex-flex_row_1 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }


.orange{
    background-color: orange;
    width: 60%;
    height: 100%;
    margin: 5px;
}

.brown{
    background-color: brown;
    width: 33%;
    height: 100%;
    margin: 5px;
}   

.blue{
    background-color: blue;
    width: 33%;
    height: 100%;
    margin: 5px;
}

.purple{
    background-color: purple;
    width: 33%;
    height: 100%;
    margin: 5px;
}

.red{
    background-color: red;
    width: 40%;
    height: 100%; 
    margin: 5px;
}

.green{
    background-color: green;
    width: 100%;
    height: 100%;  
    margin: 5px; 
}