html, body{
    height: 100%;
    width: 100%;
}

.sidenav {
  /*  height: 600px; /* с высотой 600px получается совсем некрасиво*/
    width: 10%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; 
    top: 20%; 
    bottom: 20%;
    background-color: rgba(0, 0, 255, 0.1); /* Black with translucent background  */
    overflow-x: hidden; /* Disable horizontal scroll */
 /*   padding-top: 20px; */
  }

  /* The navigation menu links */
.sidenav a {
 /*   padding: 6px 8px 6px 16px; */
    padding-top: 5px;
    font-size: 15px;  
    font-size: 3.0vh;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 5%;
    margin-right: 5%;
    height: 15%;
    border: 1px solid black;
    padding: 0px 10px;
    display: block;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    font-size: 3.5vh;
  }

  .footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 90%; 
    height: 15%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: red;
    color: white;
    text-align: center;
    display: block;
    border-radius: 5px;
    font-size: 3.5vh;
  }

  .center {
    margin: auto;
    padding: 10px;
    display: block;
    margin-left: 10%;
    margin-right: 5%;
    border: 1px solid black;
    height: 50%;
    overflow: hidden;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
 /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  */